{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


        <main>
            <div class="row">
                <h1>Choisir son lieu de mariage</h1>




            </div>

            <div class="row">

                <div id="centre" class="offset-lg-2 col-sm-12 col-lg-8" >
                    <section id="illustrations">
                        <img src="img/cocotier.jpg">
                        <img src="img/chateau.jpg">
                        <img src="img/lv.jpg">

                    </section>
                </div>



            </div>
        </main>




{% endblock %}
